body {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  font-family: "Poppins", sans-serif;
}

/* This is where the header of the site begins */

header {
  width: 100%;
  background: linear-gradient(to right, rgb(246, 243, 243), rgb(253, 238, 238));
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  min-height: 15vh;
}

/* Header fully wrappered in here */

.logohere {
  flex: 1;
  display: flex;
  justify-content: center;
}
.logohere img {
  height: 100%;
}

.menuhere {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuhere ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menuhere ul li {
  float: left;
}

.menuhere ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(92, 81, 81);
  font-size: 18px;
  font-weight: 300;
}

.menuhere ul li a:hover {
  transition: 100ms ease-in;
  color: rgb(133, 209, 57);
}

.socialhere {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialhere ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr;
}

.imgbox {
  width: 50%;
  margin: 0 10px;
}

/* Main Body starts here */

.parent {
  width: 100%;
  display: flex;
  align-items: center;
  animation: letmemove 3s ease-in-out;
}

.textintro {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.textintro h1 {
  text-align: center;
  display: block;
  font-size: 70px;
  color: #306e3c;
}

.textintro h1:nth-child(2) {
  margin-top: -25px;
}

.buttonhere {
  display: flex;
  justify-content: center;
  padding: 30px 0px 0px 0px;
}

.servicesbut {
  width: 150px;
  background: #306e3c;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  margin: 0px 20px 0px 0px;
}

.aboutbut {
  width: 150px;
  background: transparent;
  height: 50px;
  border: 2px solid black;
  font-size: 16px;
  color: #306e3c;
}

.coverhere {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.coverhere img {
  height: 100%;
  filter: drop-shadow(-10px 2px 4px black);
}

/* This is the end of the first section */

/* The second section begins here */

.section2 {
  width: 90%;
  margin: 0 auto;
}

.aboutdr {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  align-items: center;
}

.myimage {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.content-wrapper {
  width: 80%;
  display: flex;
}

.content-wrapper img {
  width: 100%;
}

.myinfo {
  flex: 1;
}

.myinfo h2 {
  font-size: 30px;
  color: rgb(31, 33, 34);
}

.myinfo p {
  line-height: 1.5;
  text-align: left;
  color: rgb(31, 33, 34);
}

.myinfo button {
  margin-top: 50px;
}

/* About the site owner ends here */

.services-area {
  margin: 30px 0px 0px 0px;
  width: 100%;
  /* background: rgba(48, 110, 60); */
  margin: 0 auto;
  /* background: rgb(218, 187, 187); */
}

.services-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.service1 {
  display: flex;
  flex: 1;
}

.service2 {
  display: flex;
  flex: 1;
  justify-content: center;
}

.service3 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.card-wrapper {
  border: 1px solid lightgray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3fr, auto);
  width: 80%;
  box-shadow: 1px 1px 5px gray;
  background: #fff;
  margin: 70px 0px 70px 0px;
  /* height: 350px; */
}

.card-wrapper:hover {
  transition: 500ms ease-in-out;
  transform: translateY(-20px);
}

.card-wrapper h3 {
  text-align: center;
  font-weight: 500;
  margin: 30px 0px 40px 0px;
  color: #38ee59;
}

.holdimage {
  width: 100%;
  height: 250px;
  background-color: #ccc;
}

.holdimage img {
  height: 100%;
  width: 100%;
}

.bookme {
  background: #38ee59;
  color: #ffffff;
  border: none;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  font-size: 17px;
}

.footme {
  width: 100%;
  height: 200px;
  background: rgb(41, 34, 34);
}

@keyframes letmemove {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  header {
    flex-direction: column;
  }

  .menuhere ul li a {
    padding: 10px 20px;
    font-size: 15px;
  }

  .textintro {
    background: url(../images/main1.png);
    background-position: right;
    background-size: cover;
    flex: 1;
    flex-wrap: wrap;
    padding: 0;
    border:1px solid #ccc;
  }



  .textintro h1{
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 35px;
  }

  .aboutbut{
    border: none;
    color: white;
    background: #306e3c;
  }
  
  
  .coverhere{
    display: none;
  }



  .section2 {
    width: 90%;
    margin: 20px auto;
  }
  
  .aboutdr {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .myimage {
    flex: 3;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .content-wrapper {
    width: 80%;
  }
  
  .content-wrapper img {
    width: 100%;
  }
  
  .myinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .myinfo h2 {
    margin: 13px auto;
    text-align: center;
    font-size: 20px;
    color: rgb(31, 33, 34);
  }
  
  .myinfo p {

    text-align: center;
    font-size: 15px;
    font-weight: 300;
    height: 100px;
    overflow: hidden;
    line-height: 1.5;
    color: rgb(31, 33, 34);
  }
  
  .myinfo .aboutbut {
    margin: 15px auto;

  }


  .services-wrapper{
    flex-direction: column;
  }

  .service1,.service2,.service3 {
    display: flex;
    flex: 1;
    justify-content: center;

  }

  .card-wrapper {
    
    margin: 10px 0px 10px 0px;
    /* height: 350px; */
  }

}

/* @media (max-width: 320px) {
  header {
    flex-direction: column;
  }

  .menuhere ul li a {
    padding: 15px 10px;
    font-size: 15px;
  }
} */
